{% load static %}
<div class="modal-header">
  <h4 class="modal-title">Generar Reporte</h4>
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
</div>
<div class="modal-body">
  <form id="form-seguro" class="form" action="{% url 'reporte-seguro-form' pk=seguro gestion=gestion %}" method="post">
    {% csrf_token %}
    {{ form.gestion }}
    {{ form.seguro }}
    <div class="form-group row">
      <label for="" class="col-md-2 col-form-label"><strong>Mes</strong></label>
      <div class="col-md-5">
        {{ form.mes }}
      </div>
      <div class="col-md-2">
        <button type="submit" class="btn btn-sm btn-success">Generar</button>
      </div>
      <div class="col-md-2">
        <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </form>
</div>
<script>
$('#form-seguro').on('submit', function (e) {
      e.preventDefault();
      var $formData = $(this).serialize();
      var $thisUrl = $(this).attr('action');
      var $thisMethod = $(this).attr('method');
      $.ajax({
          method: $thisMethod,
          url: $thisUrl,
          data: $formData,
          success: function(data){
            if(data.success){
              $("#responsive-modal").modal('hide');
              $.toast({
                heading: 'Mensaje del Sistema',
                text: 'El Reporte se ha generado con exito',
                position: 'top-right',
                loaderBg:'#ff6849',
                icon: 'success',
                hideAfter: 3500,
                stack: 6
              });
              inicializar();
            }
            else{
              $.toast({
              heading: 'Mensaje del Sistema',
              text: 'Ha ocurrido un error, el reporte del mes indicado ya existe',
              position: 'top-right',
              loaderBg:'#ff6849',
              icon: 'error',
              hideAfter: 3500
            });
            }

          },
          error: function(xhr,errmsg,err) {
            // Show an error
            $('#results').html("<div class='alert-box alert radius' data-alert>"+
            "Oops! We have encountered an error. <a href='#' class='close'>&times;</a></div>"); // add error to the dom
            console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
          }
      })
  });
</script>