{% load static %}
{% load reporte_tag %}
{% if seguro %}
  <table id="myTable" class="table table-bordered">
    <thead>
    <tr>
      <th>Gestion</th>
      <th>Mes</th>
      <th>Monto(Bs)</th>
      <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    {% for item in seguro %}
      <tr>
        <td>{{ item.gestion }}</td>
        <td>{{ item.mes | mesliteral }}</td>
        <td class="text-right">{{ item.monto }}</td>
        <td class="text-right">
          <button data-ref="{% url 'reporte-seguro-pdf' pk=item.id %}" class="btn btn-info btn-sm imprimir-general">
            <i class="fa fa-file-pdf-o"></i>
          </button>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  <div class="row">
    <div class="col-md-8"></div>
    <div class="col-md-4 text-right">
      <button id="registrar-mes" class="btn btn-sm btn-info">Registrar</button>
    </div>
  </div>
{% else %}
  <div class="row">
    <div class="col-md-8">
      <p>No se ha encontrado ningun registro.</p>
    </div>
    <div class="col-md-4 text-right">
      <button id="registrar-mes" class="btn btn-sm btn-info">Registrar</button>
    </div>
  </div>
{% endif %}
<script>
  $("td").on("click", ".imprimir-general", function (e) {
    e.preventDefault();
    this_url = $(this).attr("data-ref");
    window.open(this_url,"reporte","height=600,width=700,status=no, toolbar=no,menubar=no,location=no,scrollbars=yes");
  })
</script>