{% extends 'base.html' %}

{% load static %}

{% block css %}
<!-- Date picker plugins css -->
  <link href="{% static "assets/plugins/bootstrap-datepicker/bootstrap-datepicker.min.css" %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block contenido %}
<div class="card">
  <div class="card-body">
    <h4 class="card-title">Lista de Seguros<button class="float-right btn btn-info" data-toggle="modal" data-target="#responsive-modal" id="registro-seguro">Registrar</button></h4>
    <div class="table-responsive m-t-40">
      <table id="myTable" class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Nombre</th>            
            <th>Direccion</th>
            <th>Telefono</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% for seguro in seguros %}
            <tr>
              <td>{{ seguro.nombre }}</td>
              <td>{{ seguro.direccion }}</td>
              <td>{{ seguro.telefono }}</td>
              <td class="text-right">
                  <button class="btn btn-simple btn-warning btn-xs"><i class="fa fa-edit"></i></button>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}

{% block js %}
<!-- This is data table -->
<script src="{% static "assets/plugins/datatables/jquery.dataTables.min.js" %}"></script>
<script src="{% static "assets/paginas/seguro/seguro-index.js" %}"></script>
{% endblock %}