  <div class="col-md-12">
    {% if paciente.archivopdf_set.all %}
    <table class="table stylish-table table-hover">
      <thead>
        <tr>
          <th>Fecha Documento</th>
          <th>Nombre</th>
          <th>Descripcion</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% for item in paciente.archivopdf_set.all %}
        <tr>
          <td width="10%">
            <h6>{{ item.fecha_documento }}</h6>
          </td>
          <td width="25%">
            <h6>{{ item.nombre }}</h6>
          </td>
          <td width="60%">          
            <h6>{{ item.descripcion|safe }}</h6>
          </td>
          <td width="5%" class="text-right">
            <form action="{% url "archivopdf-eliminar" pk=item.id %}" method="post" class="eliminar-examen">
              {% csrf_token %}
              {% if item.archivo %}<a href="/media/{{ item.archivo }}" target="_blank"><i
                  class="fa fa-file-pdf-o"></i></a>{% endif %}
              <button type="submit" class="btn btn-xs btn-danger" data-toggle="tooltip"
                data-original-title="Eliminar"><i class="fa fa-close"></i></button>
            </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <div class="col-md-12 text-right">
      <button class="btn btn-info archivopdf-new">Registrar</button>
    </div>
    {% else %}
    <div class="row">
      <div class="col-md-12 text-center">
        <p>No tiene Examenes Complementarios Registrados.</p>
      </div>
      <div class="col-md-12 text-right">
        <button class="btn btn-info archivopdf-new">Registrar</button>
      </div>
    </div>
    {% endif %}
  </div>