{% extends 'base2.html' %}

{% load static %}

{% load paciente_tags %}
{% block css %}
<link href="{% static "assets/plugins/select2/dist/css/select2.css" %}" rel="stylesheet" type="text/css" />
<link href="{% static "assets/plugins/bootstrap-selectf/dist/css/bootstrap-select.css" %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block contenido %}
<button id="paciente-espera" class="right-side-toggle waves-effect waves-light btn-success btn btn-circle btn-sm pull-right m-l-10"><i class="icon-calendar text-white"></i></button>
  <div class="row">
    <div id="seccion-consulta" class="col-md-6 col-sm-12">
    <form id="form-guardar" action="{% url 'agenda-editar' pk=consulta.id %}" method="post" autocomplete=off>
      <div class="row">
        <div class="col-md-1 col-sm-2 fixribbon">
          <div class="row">
            <div class="miribbon col-md-12">D.P.</div>
            <div class="hide">
              {{ form.paciente }}
              {{ form.procedencia }}
              {{ form.seguro }}
              {{ form.fecha }}
              {{ form.hora_inicio }}
              {{ form.hora_fin }}
              {{ form.tipo }}
              {{ form.prioridad }}
              {{ form.tipo_beneficiario }}
          </div>
          </div>
        </div>
        <div class="col-md-11 col-sm-10">
          <div class="row">
            <div class="col-md-9">
              <h6>Nombre: <strong>{{ consulta.paciente.nombres|add:" "|add:consulta.paciente.apellidos }}</strong></h6>
            </div>
            <div class="col-md-3">
              <h6>Edad: <strong>{{ consulta.paciente.fecha_nacimiento|edad }}</strong></h6>
            </div>
            <div class="col-md-6 col-sm-12">
              <h6>Ocupacion: <em>{{ consulta.paciente.ocupacion }}</em></h6>
            </div>
            <div class="col-md-6 col-sm-6">
              <h6>Procedencia: <em>{{ consulta.procedencia }}</em></h6>
            </div>
            {% if form.errors %}
            <div class="alert alert-danger">
                {{ form.non_field_errors }}
                <ul>
                    {% for field in form %}
                        {% if field.errors %}<li>{{ field.label }}: {{ field.errors|striptags }}</li>{% endif %}
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-1 col-sm-2 fixribbon">
          <div class="row">
            <div class="miribbon col-md-12">Ant.</div>  
          </div>
        </div>        
        <div class="col-md-11 col-sm-10">
          <div class="row">
            <div class="col-md-12">
              {{ form.antocu }}
            </div>
            <div class="col-md-12">
              {{ form.antsis }}
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-1 col-sm-2 fixribbon">
          <div class="row">
            <div class="miribbon col-md-12">M.C.</div>
          </div>
        </div>        
        <div class="col-md-11 col-sm-10">
          <div class="row">
            <div class="col-md-12">
              {{ form.motivo }}
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-1 col-sm-2 fixribbon">
          <div class="row">
            <div class="miribbon col-md-12">A.V.</div>
          </div>
        </div>
        <div class="col-md-11 col-sm-10">
          <div class="row">
            <label class="col-md-2 col-form-label p-r-0"> 
              <h6><strong>S/C</strong></h6>
            </label>
            <div class="col-md-5 p-l-0">
              {{ form.dsc }}
            </div>
            <div class="col-md-5 p-l-0">
              {{ form.isc }}
            </div>
          </div>
          <div class="row">
            <label class="col-md-2 col-form-label p-r-0"> 
              <h6><strong>C/C</strong></h6>
            </label>
            <div class="col-md-5 p-l-0">
              {{ form.dcc }}
            </div>
            <div class="col-md-5 p-l-0">
              {{ form.icc }}
            </div>
          </div>
          <div class="row">
            <label class="col-md-2 col-form-label p-r-0"> 
              <h6><strong>Refr.</strong></h6>
            </label>
            <div class="col-md-5">
              <div class="row">
                <div class="col-md-4 p-l-0">{{ form.dre1 }}</div>
                <div class="col-md-4 p-l-0">{{ form.dre2 }}</div>
                <div class="col-md-4 p-l-0">{{ form.dre3 }}</div>
              </div>
            </div>
            <div class="col-md-5">
              <div class="row">
                <div class="col-md-4 p-l-0">{{ form.ire1 }}</div>
                <div class="col-md-4 p-l-0">{{ form.ire2 }}</div>
                <div class="col-md-4 p-l-0">{{ form.ire3 }}</div>
              </div>
            </div>
          </div>
          <div class="row">
            <label class="col-md-2 col-form-label p-r-0"> 
              <h6><strong>Auto.</strong></h6>
            </label>
            <div class="col-md-5 p-l-0">
              {{ form.dau }}
            </div>
            <div class="col-md-5 p-l-0">
              {{ form.iau }}
            </div>
          </div>
          <div class="row">
            <label class="col-md-2 col-form-label p-r-0"> 
              <h6><strong>Cerca</strong></h6>
            </label>
            <div class="col-md-5">
              <div class="row">
                <div class="col-md-6 p-l-0">{{ form.ddc1 }}</div>
                <div class="col-md-6 p-l-0">{{ form.ddc2 }}</div>
              </div>
            </div>
            <div class="col-md-5">
              <div class="row">
                <div class="col-md-6 p-l-0">{{ form.idc1 }}</div>
                <div class="col-md-6 p-l-0">{{ form.idc2 }}</div>
              </div>
            </div>
          </div>
          <div class="row">
            <label class="col-md-2 col-form-label p-r-0"> 
              <h6><strong>Pin Hole</strong></h6>
            </label>
            <div class="col-md-5 p-l-0">
              {{ form.dph }}
            </div>
            <div class="col-md-5 p-l-0">
              {{ form.iph }}
            </div>
          </div>
          <div class="row">
            <label class="col-md-2 col-form-label p-r-0"> 
              <h6><strong>Ciclopl.</strong></h6>
            </label>
            <div class="col-md-5 p-l-0">
              {{ form.dci }}
            </div>
            <div class="col-md-5 p-l-0">
              {{ form.ici }}
            </div>
          </div>
          <div class="row">
            <label class="col-md-2 col-form-label p-r-0"> 
              <h6><strong>Lente</strong></h6>
            </label>
            <div class="col-md-5 p-l-0">
              {{ form.dcl }}
            </div>
            <div class="col-md-5 p-l-0">
              {{ form.icl }}
            </div>
          </div>
          <div class="row">
            <label class="col-md-2 col-form-label p-r-0"> 
              <h6><strong>Receta</strong></h6>
            </label>
            <div class="col-md-5">
              <div class="row">
                <div class="col-md-4 p-l-0">{{ form.drc1 }}</div>
                <div class="col-md-4 p-l-0">{{ form.drc2 }}</div>
                <div class="col-md-4 p-l-0">{{ form.drc3 }}</div>
              </div>
            </div>
            <div class="col-md-5">
              <div class="row">
                <div class="col-md-4 p-l-0">{{ form.irc1 }}</div>
                <div class="col-md-4 p-l-0">{{ form.irc2 }}</div>
                <div class="col-md-4 p-l-0">{{ form.irc3 }}</div>
              </div>
            </div>
          </div>
          <div class="row">
            <label class="col-md-2 col-form-label p-r-0">
              <h6><strong>Adicion</strong></h6>
            </label>
            <div class="col-md-10 p-l-0">
              {{ form.adicion }}
            </div>
          </div>
          <div class="row m-b-10">
            <label class="col-md-2 col-form-label p-r-0">
              <h6><strong>Tipo</strong></h6>
            </label>
            <div class="col-md-10 p-l-0">
              <div class="hide">
                {{ form.tipo_lente }}
              </div>
              <select id="selectipo" multiple class="form-control form-control-sm" title="Selecciona Tipo de Lente" tabindex="33" >
                  {% for item in tipolentes %}
                    <option>{{ item.nombre }}</option>
                  {% endfor %}
              </select>      
            </div>
          </div>
          <div class="row m-b-10">
            <div class="col-md-12 text-right">
              {% csrf_token %}
              <button type="button" class="btn btn-sm btn-info" id="historiac" data-url="{% url 'historia-lista' pk=consulta.paciente.id %}" data-toggle="tooltip" data-placement="top" title=""  data-original-title="Historia Clinica"><i class="icon-medical-history"></i></button>
              <button type="button" class="btn btn-sm btn-danger" id="recetar"  data-toggle="tooltip" data-placement="top" title=""  data-original-title="Receta"><i class="icon-medical-history"></i></button>
              <a onclick="imprimirlista(event, this);" href="{% url 'reporterec' pk=consulta.id %}" class="btn btn-sm btn-inverse" data-toggle="tooltip" data-placement="top" title=""  data-original-title="Imprimir"><i class="fa fa-print"></i></a>
              <a href="{% url "agenda-listar" %}" class="btn btn-warning btn-sm" data-toggle="tooltip" data-placement="top" title=""  data-original-title="Volver"><i class="fa fa-rotate-left"></i></a>
            </div>
          </div>
        </div>
      </div>
      
    </div>
    <div class="col-md-6 col-sm-12">
    <div class="row m-b-5">
        <div class="col-md-1 col-sm-2 fixribbon">
          <div class="row">
            <div class="miribbon col-md-12">T.O.</div>
          </div>
        </div>        
        <div class="col-md-11 col-sm-10">
          <div class="row">
            <div class="col-md-6">
              {{ form.dto }}
            </div>
            <div class="col-md-6">             
              {{ form.ito }}
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-1 col-sm-2 fixribbon">
          <div class="row">
            <div class="miribbon col-md-12">Bio.</div>
          </div>
        </div> 
        <div class="col-md-11 col-sm-10">
          <div class="row">
            <div class="col-md-6">              
              {{ form.dbio }}
            </div>
            <div class="col-md-6">
              {{ form.ibio }}
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-1 col-sm-2 fixribbon">
          <div class="row">
            <div class="miribbon col-md-12">F.O.</div>
          </div>
        </div>
        <div class="col-md-11 col-sm-10">
          <div class="row">
            <div class="col-md-6">
              {{ form.dfdo }}
            </div>
            <div class="col-md-6">
              {{ form.ifdo }}
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-1 col-sm-2 fixribbon">
          <div class="row">
            <div class="miribbon col-md-12">Otros</div>
          </div>
        </div>
        <div class="col-md-11 col-sm-10">
          <div class="row">
            <div class="col-md-12">
              {{ form.otros }}
            </div>
          </div>
        </div>
      </div>  
    </form>  
      <div class="row">
        <div class="col-md-1 col-sm-2 fixribbon">
          <div class="row">
            <div class="miribbon col-md-12">Diag.</div>
          </div>
        </div>
        <div class="col-md-11 col-sm-10">
          <form id="diagform" action="{% url 'diagnostico-crear' %}" method="post">
            {% csrf_token %}
            {{ diagform.agenda}}
            <div class="row">
              <div class="col-md-12">
                <div class="input-group">
                  {{ diagform.detalle }}
                  <span class="input-group-btn"><button class="btn btn-success btn-sm" type="submit"><i class="fa fa-plus"></i></span></button>
                </div>
              </div>
            </div>
          </form>
          <div class="row">
            <div id="diagnosticos" class="col-md-12">
              <table class="table table-striped tabla table-sm">
              {% for item in consulta.diagnostico_set.all %}
                <tr>
                  <td width="3%"><h6>{{ forloop.counter }}</h6></td>
                  <td><h6>{{ item.detalle }}</h6></td>
                  <td class="text-right"><form action="{% url 'diagnostico-eliminar' pk=item.id %}" method="post" class="form-eliminar-diag">{% csrf_token %}<button type="submit" class="btn btn-xs btn-danger"><i class="fa fa-close"></i></button></form></td>
                </tr>
              {% endfor %}
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-1 col-sm-2 fixribbon">
          <div class="row">
            <div class="miribbon col-md-12">Trat.</div>
          </div>
        </div>
        <div class="col-md-11 col-sm-10">
          <form id="tratform" action="{% url 'tratamiento-crear' %}" method="post">
            {% csrf_token %}
            {{ tratform.agenda}}
            <div class="row">
              <div class="col-md-12">
                <div class="input-group">
                  {{ tratform.detalle }}
                  <span class="input-group-btn"><button class="btn btn-success btn-sm" type="submit"><i class="fa fa-plus"></i></span></button>
                </div>
              </div>
            </div>
          </form>
          <div class="row">
            <div id="tratamientos" class="col-md-12">
              <table class="table table-sm table-striped tabla">
              {% for item in consulta.tratamiento_set.all %}
                <tr>
                  <td><h6>{{ forloop.counter }}</h6></td>
                  <td><h6>{{ item.detalle }}</h6></td>
                  <td class="text-right"><form action="{% url 'tratamiento-eliminar' pk=item.id %}" method="post" class="form-eliminar-trat">{% csrf_token %}<button type="submit" class="btn btn-xs btn-danger" data-toggle="tooltip" data-original-title="Eliminar"><i class="fa fa-close"></i></button></form></td>
                </tr>
              {% endfor %}
              </table>
            </div>
          </div>
        </div>
      </div>
    </div> 
  </div>
  <div data-backdrop="static" data-keyboard="false"  id="receta-modal" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display:none;">
    <div class="modal-dialog modal-lg">
      <div id="contenido-modal" class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Recetar</h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        </div>
        <div class="modal-body">
          <form id="recetaform" action="{% url 'receta-crear' %}" method="post">
            {% csrf_token %}
            {{ recetaform.agenda}}
            <div class="row">              
              <div class="col-md-6">
                <small>Medicamento</small>
                {{ recetaform.medicamento }}                            
              </div>
              <div class="col-md-2">
                <small>Cantidad</small>
                {{ recetaform.cantidad }}
              </div>
              <div class="col-md-3">
                <small>Presentacion</small>
                {{ recetaform.presentacion }}
              </div>
              <div class="col-md-1 p-t-20">
                <button class="btn btn-success btn-sm" type="submit"><span class="input-group-btn"><i class="fa fa-plus"></i></span></button>
              </div>
            </div>
            <div class="row">              
              <div class="col-md-12">
                <small>Indicacion</small>
                {{ recetaform.indicacion }}
              </div>  
            </div>
          </form>
          <div class="row">
            <div id="recetas" class="col-md-12">
              <table class="table table-sm table-striped tabla">                
                <thead>
                  <tr>
                    <th>Nombre</th>
                    <th>Cantidad</th>
                    <th>Presentacion</th>
                    <th>Indicacion</th>
                    <th></th>
                  </tr>
                </thead>
                {% for item in consulta.receta_set.all %}
                  <tr>
                    <td><h6>{{ forloop.counter }}</h6></td>
                    <td><h6>{{ item.medicamento.nombre }}</h6></td>
                    <td><h6>{{ item.cantidad }}</h6></td>
                    <td><h6>{{ item.presentacion }}</h6></td>
                    <td><h6>{{ item.indicacion }}</h6></td>
                    <td class="text-right"><form action="{% url 'receta-eliminar' pk=item.id %}" method="post" class="form-eliminar-receta">{% csrf_token %}<button type="submit" class="btn btn-xs btn-danger" data-toggle="tooltip" data-original-title="Eliminar"><i class="fa fa-close"></i></button></form></td>
                  </tr>
                {% endfor %}
              </table>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <a onclick="imprimirlista(event, this);" href="{% url 'reportereceta' pk=consulta.id %}" class="btn btn-inverse" data-toggle="tooltip" data-placement="top" title=""  data-original-title="Imprimir"><i class="fa fa-print"></i></a>
          <button type="button" class="btn btn-danger waves-effect text-left" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block js %}
  <script src="{% static "assets/plugins/bootstrap-selectf/dist/js/bootstrap-select.min.js" %}"></script>
  <script src="{% static "assets/plugins/select2/dist/js/select2.js" %}" type="text/javascript"></script>
  <script src="{% static "assets/paginas/agenda/agenda-editar.js" %}"></script>
{% endblock %}