{% load static %}
{% load paciente_tags %}
{% block css %}
<!-- Clock Plugin JavaScript -->
<link rel="stylesheet" href="{% static "assets/plugins/clockpicker/dist/clockfix.css" %}">
{% endblock %}
<div class="modal-body">
  <div id="paciente" class="row">
      <div class="col-md-12">
      <form id="form-paciente" action="{% url "paciente-editar" pk=paciente.id %}" method="post">
          {% csrf_token %}
            <div class="row">
              <div class="col-md-12">
                <small>Nombres</small>
                {{ pacienteform.nombres }}
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <small>Apellidos</small>
                {{ pacienteform.apellidos }}
              </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                  <small>Documento</small>
                  {{ pacienteform.documento }}
                </div>
                <div class="col-md-6"> 
                  <small>Numero Documento</small>
                  {{ pacienteform.nro_documento }}
                </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <small>Ocupacion</small>
                  {{ pacienteform.ocupacion }}
              </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                  <small>Fecha Nacimiento</small>
                  {{ pacienteform.fecha_nacimiento }}
                </div>
                <div class="col-md-6">
                  <small>Telefono</small>
                  {{ pacienteform.telefono }}
                </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <small>Direccion</small>
                {{ pacienteform.direccion }}
              </div>
            </div>
          <div class="modal-footer">
      <button id="edagenda" type="button" class="btn btn-default waves-effect" >Cancelar</button>
      <button type="submit" class="btn btn-success waves-effect">Guardar</button>
          </div>
      </form>
    </div>
  </div>
  <div class="row edagendaform">
    <div class="col-md-7">
    <h6><strong>Nombre:</strong> {{ agenda.paciente.nombres }} {{ agenda.paciente.apellidos }}</h6>
    </div>
    <div class="col-md-4">
    <h6><strong>Edad: </strong>{{ agenda.paciente.fecha_nacimiento|edad }}</h6>
    </div>
      <div class="col-md-1 p-0">
        <button id="verpaciente" type="button" class="btn btn-warning btn-sm waves-effect waves-light"><i class="fa fa-user"></i></button>
    </div>
  </div>
<div class="row edagendaform">
    <div class="col-md-11">
        <h6><strong>Procedencia: </strong>{{ agenda.procedencia }}</h6>
    </div>
</div>
  <hr class="m-t-0 edagendaform" />
  <form id="form-ajaxeliminar" class="form-paciente edagendaform" action="{% url "agenda-editarajax" pk=agenda.id %}" method="post" novalidate>
    {% csrf_token %}
    <div id="agenda-oculto" class="row hide">
        {{ form }}
    </div>
    <div class="row">
      <div class="col-md-7">
          <small>Fecha</small>
          {{ form.fecha }}
      </div>
      <div class="col-md-4">
          <small>Hora</small>
          {{ form.hora_inicio }}
      </div>
      <div class="col-md-1 p-0">
          <button type="submit" class="btn btn-success btn-sm waves-effect waves-light m-t-20"><i class="fa fa-save"></i></button>
      </div>
    </div>
  </form>
  <hr class="edagendaform"/>
<div class="row m-b-10 edagendaform">
    <div class="col-md-12">
      <form id="form-servicio-crear" action="{% url "servicioajax-crear" %}" method="post" >
        {% csrf_token %}
        <div class="row">
          <div class="col-md-6">
            {{ servicioform.servicio }}
          </div>
          <div class="col-md-2">
            {{ servicioform.descuento }}
            <label for="id_descuento" class="form-control-sm fixmt4 m-b-0"><small>Desc.</small></label>
          </div>
          <div class="col-md-3">
            {{ servicioform.costo }}
          </div>
          {{ servicioform.agenda }}
          <div class="col-md-1 p-0">
            <button type="submit" class="btn btn-success btn-sm waves-effect waves-light"><i class="fa fa-plus"></i></button>
          </div>
        </div>
      </form>
    </div>
  </div>
<hr class="edagendaform"/>
  <div id="servicios" class="row edagendaform">
    <div class="col-md-12">
      <table class="table table-sm table-striped color-table dark-table m-b-0">
        <thead>
          <tr>
            <th>Servicio</th>
            <th>Costo</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for item in agenda.agendaserv_set.all %}
            <tr>
              <th><h6>{{ item.servicio.nombre }}</h6></th>
              <th><h6>{{ item.costo }}</h6></th>
              <th class="text-right">{% if item.estado %}<i class="fa fa-check text-success"></i>
              {% else %}<button class="btn btn-danger btn-xs cobrar" data-url="{% url 'agendaserv-cobrar' pk=item.id %}"><i class="ti-money"></i></button>{% endif %}</th>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="modal-footer edagendaform">
      <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Cerrar</button>
      <button id="eliminar" data-url="{% url 'agenda-eliminarajax' pk=agenda.id %}" type="button" class="btn btn-danger waves-effect">Eliminar</button>
  </div>
</div>

<!-- Clock Plugin JavaScript -->
<script src="{% static "assets/plugins/clockpicker/dist/jquery-clockpicker.min.js" %}"></script>

<!-- Date Picker Plugin JavaScript -->
<script src="{% static "assets/plugins/bootstrap-datepicker/bootstrap-datepicker.min.js" %}"></script>
<script src="{% static "assets/plugins/bootstrap-datepicker/dist/es.js" %}"></script>
<script>
  $(document).ready(function(){
      $("#paciente").hide();
      val = $('#form-ajaxeliminar').find('#id_tipo');
      seguro = $('#form-ajaxeliminar').find('#id_seguro');
      if (val.val() > 0){
          costoseguroajax(seguro.val())
      }
      else
      {
          costoajax();
      }
  });
  $("#verpaciente").on("click", function(e){
      e.preventDefault();
     $("#paciente").show();
     $(".edagendaform").hide();
  });
  $("#edagenda").on("click", function (e) {
      e.preventDefault();
      $("#paciente").hide();
      $(".edagendaform").show();
  });
  $('.clockpicker').clockpicker({
    autoclose: true
  });
  $('.fecha').datepicker({
    autoclose: true,
    todayHighlight: true,
    format: "dd/mm/yyyy",
    language: 'es',
  });
  $('form').keypress(function(e){   
    if(e == 13){
      return false;
    }
  });

  $('input').keypress(function(e){
    if(e.which == 13){
      return false;
    }
  });

  $('#form-paciente').on('submit', function (e) {
      e.preventDefault();
      var $formData = $(this).serialize();
      var $thisUrl = $(this).attr('action');
      var $thisMethod = $(this).attr('method');
      $.ajax({
          method: $thisMethod,
          url: $thisUrl,
          data: $formData,
          success: function(data){
            if(data.success){
              $("#paciente").hide();
              $(".edagendaform").show();
              $.toast({
                heading: 'Mensaje del Sistema',
                text: 'Los datos del Paciente se han modificado con exito.',
                position: 'top-right',
                loaderBg:'#ff6849',
                icon: 'success',
                hideAfter: 3500,
                stack: 6
              });
            }
            else{
              $.toast({
              heading: 'Mensaje del Sistema',
              text: 'Ha ocurrido un error, por favor revise los parametros ingresados: \u003C Nombres \u003E y \u003C Apellidos \u003E no deben estar vacios.',
              position: 'top-right',
              loaderBg:'#ff6849',
              icon: 'error',
              hideAfter: 3500
              });
            }
          },
          error: function(xhr,errmsg,err) {
            // Show an error
            $('#results').html("<div class='alert-box alert radius' data-alert>"+
            "Oops! We have encountered an error. <a href='#' class='close'>&times;</a></div>"); // add error to the dom
            console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
          }
      })
  });
  $('#form-ajaxeliminar').on('submit', function (e) {
      e.preventDefault();
      var $formData = $(this).serialize();
      var $thisUrl = $(this).attr('action');
      var $thisMethod = $(this).attr('method');
      $.ajax({
          method: $thisMethod,
          url: $thisUrl,
          data: $formData,
          success: function(data){
            if(data.success){
              $('#calendar').fullCalendar("refetchEvents");
              $("#responsive-modal").modal('hide');              
              $.toast({
                heading: 'Mensaje del Sistema',
                text: 'Se ha Editado la informacion con exito',
                position: 'top-right',
                loaderBg:'#ff6849',
                icon: 'success',
                hideAfter: 3500, 
                stack: 6
              });
            }
            else{
              $.toast({
                heading: 'Mensaje del Sistema',
                text: data.mensaje + data.errores,
                position: 'top-right',
                loaderBg:'#ff6849',
                icon: 'error',
                hideAfter: 3500
              });
            }
          },
          error: function(xhr,errmsg,err) {
            // Show an error
            $('#results').html("<div class='alert-box alert radius' data-alert>"+
            "Oops! We have encountered an error. <a href='#' class='close'>&times;</a></div>"); // add error to the dom
            console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
          }
      })
  });
  $('#form-servicio-crear').on('submit', function (e) {
      e.preventDefault();
      var $formData = $(this).serialize();
      var $thisUrl = $(this).attr('action');
      var $thisMethod = $(this).attr('method');
      $.ajax({
          method: $thisMethod,
          url: $thisUrl,
          data: $formData,
          success: function(data){
            $("#servicios").html(data)
            $('#calendar').fullCalendar("refetchEvents");
            $('#form-servicio-crear')[0].reset();
            $('#id_costo').prop('readonly', true);            
            window.recalculo();      
            if ($("#agenda-oculto > #id_tipo").val())
              costoseguroajax($("#agenda-oculto > #id_seguro").val())
            else
              costoajax();
            $.toast({
              heading: 'Mensaje del Sistema',
              text: 'Se ha Adicionado un Nuevo Servicio a la Cita',
              position: 'top-right',
              loaderBg:'#ff6849',
              icon: 'success',
              hideAfter: 3500, 
              stack: 6
            });
          },
          error: function(xhr,errmsg,err) {
            // Show an error
            $('#results').html("<div class='alert-box alert radius' data-alert>"+
            "Oops! We have encountered an error. <a href='#' class='close'>&times;</a></div>"); // add error to the dom
            console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
          }
      })
  });
  
  $('#eliminar').on('click', function (e) {
      var $thisUrl = $(this).attr('data-url');
      $.ajax({
          method: 'get',
          url: $thisUrl,
          success: function(data){
            $("#contenido-modal").html(data);
          },
          error: function(xhr,errmsg,err) {
            // Show an error
            $('#results').html("<div class='alert-box alert radius' data-alert>"+
            "Oops! We have encountered an error. <a href='#' class='close'>&times;</a></div>"); // add error to the dom
            console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
          }
      })
  });

  $("input").keyup(function(e){
      this.value = this.value.toUpperCase();
  });
  $("#servicios").on('click', '.cobrar', function(e){
    e.preventDefault();
    $thisUrl = $(this).attr('data-url');
    
    $.ajax({
          method: 'get',
          url: $thisUrl,
          success: function(data){
            $("#servicios").html(data);
            $('#calendar').fullCalendar("refetchEvents");
            window.recalculo();
          },
          error: function(xhr,errmsg,err) {
            // Show an error
            $('#results').html("<div class='alert-box alert radius' data-alert>"+
            "Oops! We have encountered an error. <a href='#' class='close'>&times;</a></div>"); // add error to the dom
            console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
          }
      })
  });
  $("#id_servicio").on("change", function(){
      val = $('#form-ajaxeliminar').find('#id_tipo');
      seguro = $('#form-ajaxeliminar').find('#id_seguro');
      if (val.val() > 0){
          costoseguroajax(seguro.val())
      }
      else
      {
          costoajax();
      }
  });

  function costoajax() {
      var servicioId = $("#id_servicio").val();
      $.ajax({
          url: "/servicio-costo",
          data: {"id": servicioId},
          type: "get",
          success: function (data) {
              $("#id_costo").val(data.costo);
          }
      });
  }

  function costoseguroajax(seguro){
    var servicioId = $("#id_servicio").val();
    $.ajax({
          url: "/seguro-servicio-costo",
          data: {"servicio": servicioId, "seguro": seguro},
          type: "get",
          success: function (data) {
              $("#id_costo").val(data.costo);
          }
      });
  }

  $("#id_descuento").on("change", function (e) {
      if ( $(this).is(":checked") ){
          $('#id_costo').prop('readonly', false);
      } else {
        $('#id_costo').prop("readonly", true);
        costoajax();
      }
  });
</script>