{% extends 'base2.html' %}
{% load static %}

{% block css %}
  <!-- Date picker plugins css -->
  <link href="{% static "assets/plugins/bootstrap-datepicker/bootstrap-datepicker.min.css" %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block contenido %}
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Lista de Consultas</h4>
        <div class="row">
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-6 col-sm-12">
                <input type="text" class="form-control form-control-sm fecha" value="{% now "d/m/Y" %}">
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-12 col-sm-12 text-right">
                <a href="" class="btn btn-sm waves-effect waves-light btn-primary">Imprimir</a>
                <a href="{% url 'index' %}" class="btn btn-sm btn-warning waves-effect waves-light"><i class="ti-back-left"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12" id="lista-pacientes">
            <table class="table table-striped table-sm" id="myTable">
            <thead>
              <tr>
                <th>ID</th>
                <th>PACIENTE</th>
                <th>ESTADO</th>
                <th class="text-nowrap">ACCIONES</th>
              </tr>
            </thead>
            <tbody>
              {% for consulta in consultas %}
                <tr>
                  <th>{{ consulta.id }}</th>
                  <th>{{ consulta.paciente.nombres|add:" "|add:consulta.paciente.apellidos }}</th>
                  <th>
                    {% if consulta.estado %}
                      <div class="label label-table label-success">Atendido</div>
                    {% else %}
                      <div class="label label-table label-danger">Espera</div>
                    {% endif %}
                  </th>
                  <th>
                    <a href="{% url 'agenda-editar' pk=consulta.id %}" data-toggle="tooltip" data-original-title="Ver">
                      <i class="fa fa-eye text-inverse m-r-10"></i>
                    </a>
                  </th>
                </tr>
              {% endfor %}  
            </tbody>
          </table>
          </div>
        </div>
      </div>
    </div>
  </div>    
</div>
{% endblock %}

{% block js %}
<!-- This is data table -->
<script src="{% static "assets/plugins/datatables/jquery.dataTables.min.js" %}"></script>
<!-- Date Picker Plugin JavaScript -->
<script src="{% static "assets/plugins/bootstrap-datepicker/bootstrap-datepicker.min.js" %}"></script>
<script src="{% static "assets/plugins/bootstrap-datepicker/dist/es.js" %}"></script>
<script src="{% static "assets/paginas/agenda/agenda-listar.js" %}"></script>
{% endblock %}