{% load static %}
<div class="modal-header">
  <h4 class="modal-title">Editar Seguro</h4>
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
</div>
{% if form.errors %}
<div class="alert alert-danger">
    {{ form.non_field_errors }}
    <ul>
        {% for field in form %}
            {% if field.errors %}<li>{{ field.label }}: {{ field.errors|striptags }}</li>{% endif %}
        {% endfor %}
    </ul>
</div>
{% endif %}
<div class="modal-body">
  <form id="form-servicio" action="{% url "seguro-ajax-editar" pk=seguro.id %}" method="post" novalidate>
    {% csrf_token %}
    <div class="row">
        <div class="col-md-12">
          <small><strong>Nombre</strong></small>
          {{ form.nombre }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <small><strong>Direccion</strong></small>
            {{ form.direccion }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <small><strong>Telefono</strong></small>
            {{ form.telefono }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-right p-t-10">
            <button type="submit" class="btn btn-success btn-sm waves-effect waves-light p-t-10">Guardar</button>
        </div>
    </div>
  </form>
    <hr />
    <form id="formsegurocosto" action="{% url 'segurocosto-ajax-registrar' %}" method="post">
        <div class="row">
            {{ segurocostoform.seguro }}
            {% csrf_token %}
            <div class="col-md-8">
                <small><strong>Servicio</strong></small>
                {{ segurocostoform.servicio }}
            </div>
            <div class="col-md-3">
                <small><strong>Costo</strong></small>
                {{ segurocostoform.costo }}
            </div>
            <div class="col-md-1 p-0">
                <button type="submit" class="btn btn-success btn-sm waves-effect waves-light m-t-20"><i class="fa fa-plus"></i></button>
            </div>
        </div>
    </form>
    <hr />
    <div id="listaservicios" class="row edagendaform">
        <div class="col-md-12">
          <table class="table table-sm table-striped color-table dark-table m-b-0">
            <thead>
              <tr>
                <th>Servicio</th>
                <th>Costo</th>
              </tr>
            </thead>
            <tbody>
              {% for item in seguro.segurocosto_set.all %}
                <tr>
                  <th><h6>{{ item.servicio.nombre }}</h6></th>
                  <th class="text-right"><h6>{{ item.costo }}</h6></th>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Cerrar</button>
    </div>
</div>
<script>
  $('#form-servicio').on('submit',function (e) {
      e.preventDefault();
      var $formData = $(this).serialize();
      var $thisUrl = $(this).attr('action');
      var $thisMethod = $(this).attr('method');
      $.ajax({
          method: $thisMethod,
          url: $thisUrl,
          data: $formData,
          success: function(data){
            $('#myTable').DataTable().ajax.reload(null, false);
            $("#responsive-modal").modal('hide');
          },
          error: function(xhr,errmsg,err) {
            // Show an error
            $('#results').html("<div class='alert-box alert radius' data-alert>"+
            "Oops! We have encountered an error. <a href='#' class='close'>&times;</a></div>"); // add error to the dom
            console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
          }
      })
  });
  $('#formsegurocosto').on('submit',function (e) {
      e.preventDefault();
      var $formData = $(this).serialize();
      var $thisUrl = $(this).attr('action');
      var $thisMethod = $(this).attr('method');
      $.ajax({
          method: $thisMethod,
          url: $thisUrl,
          data: $formData,
          success: function(data){
              $('#listaservicios').html(data);
              $('#myTable').DataTable().ajax.reload(null, false);
          },
          error: function(xhr,errmsg,err) {
            // Show an error
            $('#results').html("<div class='alert-box alert radius' data-alert>"+
            "Oops! We have encountered an error. <a href='#' class='close'>&times;</a></div>"); // add error to the dom
            console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
          }
      })
  });
  $("input").keyup(function(e){
      this.value = this.value.toUpperCase();
  });
</script>