{% extends 'base2.html' %}

{% load static %}

{% load paciente_tags %}

{% block css %}
<!-- Date picker plugins css -->
  <link href="{% static "assets/plugins/bootstrap-datepicker/bootstrap-datepicker.min.css" %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block contenido %}
<div class="card">
  <div class="card-body">
    <h4 class="card-title">Lista de Pacientes<a href="{% url 'logout' %}" class="m-l-5 btn btn-danger btn-sm float-right" data-toggle="tooltip" data-placement="top" title=""  data-original-title="Salir"><i class="mdi mdi-exit-to-app"></i></a><a href="{% url 'index' %}" class="m-l-5 btn btn-sm btn-warning waves-effect waves-light float-right"><i class="ti-back-left"></i></a><button class="float-right btn btn-sm btn-info" data-toggle="modal" data-target="#responsive-modal" id="registro-paciente">Registrar</button></h4>
    <div class="table-responsive m-t-40">
      <table id="myTable" class="table table-sm table-bordered table-striped">
        <thead>
          <tr>
            <th>Nombre</th>            
            <th>Documento</th>
            <th>Nro Documento</th>
            <th>Telefono</th>
            <th>Codigo</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}

{% block js %}
<!-- This is data table -->
<script src="{% static "assets/plugins/datatables/jquery.dataTables.min.js" %}"></script>
<script src="{% static "assets/paginas/paciente/paciente-index.js" %}"></script>
{% endblock %}