{% load paciente_tags %}
<div class="modal-header">
  <h4 class="modal-title" id="myLargeModalLabel">Historia Clinica</h4>
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-12">
        <div class="card m-b-0">
            <!-- .chat-row -->
            <div class="chat-main-box">
              {% if historia %}
              <!-- .chat-left-panel -->
              <div class="chat-left-aside">
                <div class="open-panel"><i class="ti-angle-right"></i></div>
                <div class="chat-left-inner">
                  <div class="chat-main-header">
                    <div class="p-10 b-b">
                      <h5 class="box-title m-0">Fechas</h5>
                    </div>
                  </div>
                  <ul class="chatonline style-none ">
                    {% for item in historias %}
                    <li>
                      <a class="historiaver" href="javascript:void(0)" data-url="{% url 'historia-ver' pk=item.id %}"><span><h5 class="m-0">{{ item.fecha }}</h5></span></a>
                    </li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
              <!-- .chat-left-panel -->
                <!-- .chat-right-panel -->
                <div class="chat-right-aside">
                  <div class="chat-rbox">
                    <div class="row m-l-5">
                      <div class="col-md-12">
                      <table class="table table-sm m-b-0">
                        <tbody>
                          <tr>
                            <td><h6 class="m-0"><strong>NOMBRE:</strong></h6></td>
                            <td><h6 class="m-0">{{ historia.paciente.nombres|add:" "|add:historia.paciente.apellidos }}</h6></td>
                            <td><h6 class="m-0"><strong>EDAD:</strong></h6></td>
                            <td><h6 class="m-0">{{ historia.paciente.fecha_nacimiento|edad }}</h6></td>
                          </tr>
                        </tbody>
                      </table>
                      </div>
                    </div>
                    <hr class="m-0" />  
                    <div id="detallehistoria" class="row m-l-5">
                      <div class="col-md-6">
                        <table class="table table-sm table-borderless m-b-0 color-table">
                          <thead>
                            <th><h6 class="m-0"><strong>ANTECEDENTES</strong></h6></th>
                          </thead>
                        </table>
                        <table class="table table-sm m-b-0">
                          <tbody>
                            <tr>
                              <td width="15%" class="table-info"><strong><h6 class="m-0"><u>Sistemicos:</u></h6></strong></td>
                              <td><h6 class="m-0">{{ historia.antsis }}</h6></td>
                            </tr>
                            <tr>
                              <td width="15%" class="table-info"><strong><h6 class="m-0"><u>Oculares:</u></h6></strong></td>
                              <td><h6 class="m-0">{{ historia.antocu }}</h6></td>
                            </tr>
                          </tbody>
                        </table>
                        <hr class="m-0" />
                        <table class="table table-sm table-borderless m-b-0 color-table">
                          <thead>
                            <th><h6 class="m-0"><strong>MOTIVO DE CONSULTA</strong></h6></th>
                          </thead>
                          <tbody>
                            <tr>
                              <td><h6 class="m-0">{{ historia.motivo }}</h6></td>
                            </tr>
                          </tbody>
                        </table>
                        <hr class="m-0" />
                        <table class="table table-sm table-borderless m-b-0 color-table">
                          <thead>
                            <th><h6 class="m-0"><strong>AGUDEZA VISUAL</strong></h6></th>
                          </thead>
                        </table>
                        <table class="table table-sm table-bordered m-b-0">
                          <tbody>
                            <tr class="b-b">
                              <td width="20%" class="table-info"><strong><h6 class="m-0"><u>S/C:</u></h6></strong></td>
                              <td width="40%" class="text-center"><h6 class="m-0">{{ historia.dsc }}</h6></td>
                              <td width="40%" class="text-center"><h6 class="m-0">{{ historia.isc }}</h6></td>
                            </tr>
                            <tr class="b-b">
                              <td width="20%" class="table-info"><strong><h6 class="m-0"><u>C/C:</u></h6></strong></td>
                              <td width="40%" class="text-center"><h6 class="m-0">{{ historia.dcc }}</h6></td>
                              <td width="40%" class="text-center"><h6 class="m-0">{{ historia.icc }}</h6></td>
                            </tr>
                          </tbody>
                        </table>
                        <table class="table table-sm table-bordered m-b-0">
                          <tbody>
                            <tr class="b-b">
                              <td width="20%" class="table-info"><strong><h6 class="m-0"><u>Refr.:</u></h6></strong></td>
                              <td width="13%" class="text-center"><h6 class="m-0">{{ historia.dre1 }}</h6></td>
                              <td width="13%" class="text-center"><h6 class="m-0">{{ historia.dre2 }}</h6></td>
                              <td width="13%" class="text-center"><h6 class="m-0">{{ historia.dre3 }}</h6></td>
                              <td width="13%" class="text-center"><h6 class="m-0">{{ historia.ire1 }}</h6></td>
                              <td width="13%" class="text-center"><h6 class="m-0">{{ historia.ire2 }}</h6></td>
                              <td width="13%" class="text-center"><h6 class="m-0">{{ historia.ire3 }}</h6></td>
                            </tr>
                          </tbody>
                        </table>
                        <table class="table table-sm table-bordered m-b-0">
                          <tbody>
                            <tr class="b-b">
                              <td width="20%" class="table-info"><strong><h6 class="m-0"><u>Auto.:</u></h6></strong></td>
                              <td width="40%" class="text-center"><h6 class="m-0">{{ historia.dau }}</h6></td>
                              <td width="40%" class="text-center"><h6 class="m-0">{{ historia.iau }}</h6></td>
                            </tr>
                          </tbody>
                        </table>
                        <table class="table table-sm table-bordered m-b-0">
                          <tbody>
                            <tr class="b-b">
                              <td width="20%" class="table-info"><strong><h6 class="m-0"><u>Cerca:</u></h6></strong></td>
                              <td width="20%" class="text-center"><h6 class="m-0">{{ historia.ddc1 }}</h6></td>
                              <td width="20%" class="text-center"><h6 class="m-0">{{ historia.ddc2 }}</h6></td>
                              <td width="20%" class="text-center"><h6 class="m-0">{{ historia.idc1 }}</h6></td>
                              <td width="20%" class="text-center"><h6 class="m-0">{{ historia.idc2 }}</h6></td>
                            </tr>
                          </tbody>
                        </table>
                        <table class="table table-sm table-bordered m-b-0">
                          <tbody>
                            <tr class="b-b">
                              <td width="20%" class="table-info"><strong><h6 class="m-0"><u>Pin Hole:</u></h6></strong></td>
                              <td width="40%" class="text-center"><h6 class="m-0">{{ historia.dph }}</h6></td>
                              <td width="40%" class="text-center"><h6 class="m-0">{{ historia.iph }}</h6></td>
                            </tr>
                          </tbody>
                        </table>
                        <table class="table table-sm table-bordered m-b-0">
                          <tbody>
                            <tr class="b-b">
                              <td width="20%" class="table-info"><strong><h6 class="m-0"><u>Ciclopl.:</u></h6></strong></td>
                              <td width="40%" class="text-center"><h6 class="m-0">{{ historia.dci }}</h6></td>
                              <td width="40%" class="text-center"><h6 class="m-0">{{ historia.ici }}</h6></td>
                            </tr>
                          </tbody>
                        </table>
                        <table class="table table-sm table-bordered m-b-0">
                          <tbody>
                            <tr class="b-b">
                              <td width="20%" class="table-info"><h6 class="m-0"><u>Lente:</u></h6></td>
                              <td width="40%" class="text-center"><h6 class="m-0">{{ historia.dcl }}</h6></td>
                              <td width="40%" class="text-center"><h6 class="m-0">{{ historia.icl }}</h6></td>
                            </tr>
                          </tbody>
                        </table>
                        <table class="table table-sm table-bordered m-b-0">
                          <tbody>
                            <tr class="b-b">
                              <td width="20%" class="table-info"><h6 class="m-0"><u>Receta:</u></h6></td>
                              <td width="13%" class="text-center"><h6 class="m-0">{{ historia.drc1 }}</h6></td>
                              <td width="13%" class="text-center"><h6 class="m-0">{{ historia.drc2 }}</h6></td>
                              <td width="13%" class="text-center"><h6 class="m-0">{{ historia.drc3 }}</h6></td>
                              <td width="13%" class="text-center"><h6 class="m-0">{{ historia.irc1 }}</h6></td>
                              <td width="13%" class="text-center"><h6 class="m-0">{{ historia.irc2 }}</h6></td>
                              <td width="13%" class="text-center"><h6 class="m-0">{{ historia.irc3 }}</h6></td>
                            </tr>
                          </tbody>
                        </table>
                        <table class="table table-sm table-bordered m-b-0">
                          <tbody>
                            <tr class="b-b">
                              <td width="20%" class="table-info"><h6 class="m-0"><u>Adicion:</u></h6></td>
                              <td width="80%" class="text-center"><h6 class="m-0">{{ historia.adicion }}</h6></td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <div class="col-md-6">
                        <table class="table table-sm table-borderless m-b-0 color-table">
                          <thead>
                            <th><h6 class="m-0"><strong>TENSION OCULAR</strong></h6></th>
                          </thead>
                        </table>
                        <table class="table table-sm m-b-0">
                          <tbody>
                            <tr>
                              <td width="10%" class="table-info"><strong><h6 class="m-0"><u>O.D.</u></h6></strong></td>
                              <td><h6 class="m-0">{{ historia.dto }}</h6></td>
                            </tr>
                            <tr>
                              <td width="10%" class="table-info"><strong><h6 class="m-0"><u>O.I.</u></h6></strong></td>
                              <td><h6 class="m-0">{{ historia.ito }}</h6></td>
                            </tr>
                          </tbody>
                        </table>
                        <hr class="m-0" />
                        <table class="table table-sm table-borderless m-b-0 color-table">
                          <thead>
                            <th><h6 class="m-0"><strong>BIOMICROSCOPIA</strong></h6></th>
                          </thead>
                        </table>
                        <table class="table table-sm m-b-0">
                          <tbody>
                            <tr>
                              <td width="10%" class="table-info"><strong><h6 class="m-0"><u>O.D.</u></h6></strong></td>
                              <td><h6 class="m-0">{{ historia.dbio }}</h6></td>
                            </tr>
                            <tr>
                              <td width="10%" class="table-info"><strong><h6 class="m-0"><u>O.I.</u></h6></strong></td>
                              <td><h6 class="m-0">{{ historia.ibio }}</h6></td>
                            </tr>
                          </tbody>
                        </table>
                        <hr class="m-0" />
                        <table class="table table-sm table-borderless m-b-0 color-table">
                          <thead>
                            <th><h6 class="m-0"><strong>FONDO DE OJO</strong></h6></th>
                          </thead>
                        </table>
                        <table class="table table-sm m-b-0">
                          <tbody>
                            <tr>
                              <td width="10%" class="table-info"><strong><h6 class="m-0"><u>O.D.</u></h6></strong></td>
                              <td><h6 class="m-0">{{ historia.dfdo }}</h6></td>
                            </tr>
                            <tr>
                              <td width="10%" class="table-info"><strong><h6 class="m-0"><u>O.I.</u></h6></strong></td>
                              <td><h6 class="m-0">{{ historia.ifdo }}</h6></td>
                            </tr>
                          </tbody>
                        </table>
                        <hr class="m-0" />
                        <table class="table table-sm table-borderless m-b-0 color-table">
                          <thead>
                            <th><h6 class="m-0"><strong>OTROS</strong></h6></th>
                          </thead>
                          <tbody>
                            <tr>
                              <td><h6 class="m-0">{{ historia.otros }}</h6></td>
                            </tr>
                          </tbody>
                        </table>
                        <hr class="m-0" />
                        <table class="table table-sm table-borderless table-striped m-b-0 color-table">
                          <thead>
                            <th><h6 class="m-0"><strong>DIAGNOSTICO</strong></h6></th>
                          </thead>
                        </table>
                        <table class="table table-sm m-b-0">
                          <tbody>
                          {% for item in historia.diagnostico_set.all %}
                            <tr>
                              <td width="5%"><h6 class="m-0">{{ forloop.counter }}.-</h6></td>
                              <td><h6 class="m-0">{{ item.detalle }}</h6></td>
                            </tr>
                          {% endfor %}
                          </tbody>
                        </table>
                        <hr class="m-0" />
                        <table class="table table-sm table-borderless table-striped m-b-0 color-table">
                          <thead>
                            <th><h6 class="m-0"><strong>TRATAMIENTO</strong></h6></th>
                          </thead>
                        </table>
                        <table class="table table-sm m-b-0">
                          <tbody>
                          {% for item in historia.tratamiento_set.all %}
                            <tr>
                              <td width="5%"><h6 class="m-0">{{ forloop.counter }}.-</h6></td>
                              <td><h6 class="m-0">{{ item.detalle }}</h6></td>
                            </tr>
                          {% endfor %}
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- .chat-right-panel -->
                {% else %}
                <p class="text-center m-t-15">No tiene Historias Medicas registradas.</p>
                {% endif %}
            </div>
            <!-- /.chat-row -->
        </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-danger waves-effect text-left" data-dismiss="modal">Cerrar</button>
</div>
<script>
$(".historiaver").on('click', function(){
  var $this_Url = $(this).attr('data-url');
  $.ajax({
    url: $this_Url,
    type: 'get',  
    success: function(data){
      $("#detallehistoria").html(data);
    }
  })
})
$(function() {
  
  // elementos de la lista
  var menues = $("ul li a"); 

  $(menues[0]).addClass("active");
  // manejador de click sobre todos los elementos
  menues.click(function() {
    // eliminamos active de todos los elementos
    menues.removeClass("active");
    // activamos el elemento clicado.
    $(this).addClass("active");
  });

});
//detallehistoria
</script>