<div class="modal-header">
  <h4 class="modal-title" id="myLargeModalLabel">Historia Clinica</h4>
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-12">
        <div class="card m-b-0">
            <!-- .chat-row -->
            <div class="chat-main-box">
              {% if historia %}
              <!-- .chat-left-panel -->
              <div class="chat-left-aside">
                <div class="open-panel"><i class="ti-angle-right"></i></div>
                <div class="chat-left-inner">
                  <div class="chat-main-header">
                    <div class="p-10 b-b">
                      <h5 class="box-title m-0">Fechas</h5>
                    </div>
                  </div>
                  <ul class="chatonline style-none ">
                    {% for item in historias %}
                    <li>
                      <a class="historiaver" href="javascript:void(0)" data-url="{% url 'historia-ver' pk=item.id %}"><span>{{ item.fecha }}</span></a>
                    </li>
                    {% endfor %}
                    <li class="p-20"></li>
                  </ul>
                </div>
              </div>
              <!-- .chat-left-panel -->
                <!-- .chat-right-panel -->
                <div class="chat-right-aside">
                  <div class="chat-rbox">
                    <div id="detallehistoria" class="row m-l-5">
                      <div class="col-md-6">
                        <table class="table table-sm table-borderless m-b-0">
                          <thead>
                            <th><strong>Antecedentes:</strong></th>
                          </thead>
                        </table>
                        <table class="table table-sm m-b-0">
                          <tbody>
                            <tr>
                              <td width="15%"><strong><u>Sistemicos:</u></strong></td>
                              <td>{{ historia.antsis }}</td>
                            </tr>
                            <tr>
                              <td width="15%"><strong><u>Oculares:</u></strong></td>
                              <td>{{ historia.antocu }}</td>
                            </tr>
                          </tbody>
                        </table>
                        <table class="table table-sm table-borderless m-b-0">
                          <thead>
                            <th><strong>Motivo de Consulta:</strong></th>
                          </thead>
                          <tbody>
                            <tr>
                              <td>{{ historia.motivo }}</td>
                            </tr>
                          </tbody>
                        </table>
                        <table class="table table-sm table-borderless m-b-0">
                          <thead>
                            <th><strong>Agudeza Visual:</strong></th>
                          </thead>
                        </table>
                        <table class="table table-sm table-bordered m-b-0">
                          <tbody>
                            <tr class="b-b">
                              <td width="20%"><strong><u>S/C:</u></strong></td>
                              <td width="40%" class="text-center">{{ historia.dsc }}</td>
                              <td width="40%" class="text-center">{{ historia.isc }}</td>
                            </tr>
                            <tr class="b-b">
                              <td width="20%"><strong><u>C/C:</u></strong></td>
                              <td width="40%" class="text-center">{{ historia.dcc }}</td>
                              <td width="40%" class="text-center">{{ historia.scc }}</td>
                            </tr>
                          </tbody>
                        </table>
                        <table class="table table-sm table-bordered m-b-0">
                          <tbody>
                            <tr class="b-b">
                              <td width="20%"><strong><u>Refr.:</u></strong></td>
                              <td width="13%" class="text-center">{{ historia.dre1 }}</td>
                              <td width="13%" class="text-center">{{ historia.dre2 }}</td>
                              <td width="13%" class="text-center">{{ historia.dre3 }}</td>
                              <td width="13%" class="text-center">{{ historia.ire1 }}</td>
                              <td width="13%" class="text-center">{{ historia.ire2 }}</td>
                              <td width="13%" class="text-center">{{ historia.ire3 }}</td>
                            </tr>
                          </tbody>
                        </table>
                        <table class="table table-sm table-bordered m-b-0">
                          <tbody>
                            <tr class="b-b">
                              <td width="20%"><strong><u>Auto.:</u></strong></td>
                              <td width="40%" class="text-center">{{ historia.dau }}</td>
                              <td width="40%" class="text-center">{{ historia.iau }}</td>
                            </tr>
                          </tbody>
                        </table>
                        <table class="table table-sm table-bordered m-b-0">
                          <tbody>
                            <tr class="b-b">
                              <td width="20%"><strong><u>Cerca:</u></strong></td>
                              <td width="20%" class="text-center">{{ historia.ddc1 }}</td>
                              <td width="20%" class="text-center">{{ historia.ddc2 }}</td>
                              <td width="20%" class="text-center">{{ historia.idc1 }}</td>
                              <td width="20%" class="text-center">{{ historia.idc2 }}</td>
                            </tr>
                          </tbody>
                        </table>
                        <table class="table table-sm table-bordered m-b-0">
                          <tbody>
                            <tr class="b-b">
                              <td width="20%"><strong><u>Pin Hole:</u></strong></td>
                              <td width="40%" class="text-center">{{ historia.dph }}</td>
                              <td width="40%" class="text-center">{{ historia.iph }}</td>
                            </tr>
                          </tbody>
                        </table>
                        <table class="table table-sm table-bordered m-b-0">
                          <tbody>
                            <tr class="b-b">
                              <td width="20%"><strong><u>Ciclopl.:</u></strong></td>
                              <td width="40%" class="text-center">{{ historia.dci }}</td>
                              <td width="40%" class="text-center">{{ historia.ici }}</td>
                            </tr>
                          </tbody>
                        </table>
                        <table class="table table-sm table-bordered m-b-0">
                          <tbody>
                            <tr class="b-b">
                              <td width="20%"><strong><u>Lente:</u></strong></td>
                              <td width="40%" class="text-center">{{ historia.dcl }}</td>
                              <td width="40%" class="text-center">{{ historia.icl }}</td>
                            </tr>
                          </tbody>
                        </table>
                        <table class="table table-sm table-bordered m-b-0">
                          <tbody>
                            <tr class="b-b">
                              <td width="20%"><strong><u>Receta:</u></strong></td>
                              <td width="13%" class="text-center">{{ historia.drc1 }}</td>
                              <td width="13%" class="text-center">{{ historia.drc2 }}</td>
                              <td width="13%" class="text-center">{{ historia.drc3 }}</td>
                              <td width="13%" class="text-center">{{ historia.irc1 }}</td>
                              <td width="13%" class="text-center">{{ historia.irc2 }}</td>
                              <td width="13%" class="text-center">{{ historia.irc3 }}</td>
                            </tr>
                          </tbody>
                        </table>
                        <table class="table table-sm table-bordered m-b-0">
                          <tbody>
                            <tr class="b-b">
                              <td width="20%"><strong><u>Adicion:</u></strong></td>
                              <td width="80%" class="text-center">{{ historia.adicion }}</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <div class="col-md-6">
                        <table class="table table-sm table-borderless m-b-0">
                          <thead>
                            <th><strong>T.O:</strong></th>
                            <th></th>
                          </thead>
                          <tbody>
                            <tr>
                              <td width="30%"><strong><u>Ojo Derecho:</u></strong></td>
                              <td>{{ historia.dto }}</td>
                            </tr>
                            <tr>
                              <td width="30%"><strong><u>Ojo Izquierdo:</u></strong></td>
                              <td>{{ historia.ito }}</td>
                            </tr>
                          </tbody>
                        </table>
                        <table class="table table-sm table-borderless m-b-0">
                          <thead>
                            <th><strong>Bio.:</strong></th>
                            <th></th>
                          </thead>
                          <tbody>
                            <tr>
                              <td width="30%"><strong><u>Ojo Derecho:</u></strong></td>
                              <td>{{ historia.dbio }}</td>
                            </tr>
                            <tr>
                              <td width="30%"><strong><u>Ojo Izquierdo:</u></strong></td>
                              <td>{{ historia.ibio }}</td>
                            </tr>
                          </tbody>
                        </table>
                        <table class="table table-sm table-borderless m-b-0">
                          <thead>
                            <th><strong>F.O:</strong></th>
                            <th></th>
                          </thead>
                          <tbody>
                            <tr>
                              <td width="30%"><strong><u>Ojo Derecho:</u></strong></td>
                              <td>{{ historia.dfdo }}</td>
                            </tr>
                            <tr>
                              <td width="30%"><strong><u>Ojo Izquierdo:</u></strong></td>
                              <td>{{ historia.ifdo }}</td>
                            </tr>
                          </tbody>
                        </table>
                        <table class="table table-sm table-borderless m-b-0">
                          <thead>
                            <th><strong>Diagnostico:</strong></th>
                          </thead>
                        </table>
                        <table class="table table-sm m-b-0">
                          <tbody>
                          {% for item in historia.diagnostico_set.all %}
                            <tr>
                              <td width="5%">{{ forloop.counter }}</td>
                              <td>{{ item.detalle }}</td>
                            </tr>
                          {% endfor %}
                          </tbody>
                        </table>
                        <table class="table table-sm table-borderless m-b-0">
                          <thead>
                            <th><strong>Tratamiento:</strong></th>
                          </thead>
                        </table>
                        <table class="table table-sm m-b-0">
                          <tbody>
                          {% for item in historia.tratamiento_set.all %}
                            <tr>
                              <td width="5%">{{ forloop.counter }}</td>
                              <td>{{ item.detalle }}</td>
                            </tr>
                          {% endfor %}
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- .chat-right-panel -->
                {% else %}
                <p class="text-center m-t-15">No tiene Historias Medicas registradas.</p>
                {% endif %}
            </div>
            <!-- /.chat-row -->
        </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-danger waves-effect text-left" data-dismiss="modal">Cerrar</button>
</div>
<script>
$(".historiaver").on('click', function(){
  var $this_Url = $(this).attr('data-url');
  $.ajax({
    url: $this_Url,
    type: 'get',  
    success: function(data){
      $("#detallehistoria").html(data);
    }
  })
})
//detallehistoria
</script>
