<table class="table table-hover table-sm" id="myTable">
  <thead>
    <tr>
      <th>HORA</th>
      <th>PACIENTE</th>
      <th>PROCEDENCIA</th>
      <th>ESTADO</th>
    </tr>
  </thead>
  <tbody>
    {% for consulta in consultas %}
        <tr id="{{consulta.id}}" onclick=direccionar(this)>
          <td>{{ consulta.hora_inicio }}</td>
          <td>{{ consulta.paciente.nombres|add:" "|add:consulta.paciente.apellidos }}</td>
          <td>{{ consulta.procedencia }}</td>
          <td>
            {% if consulta.estado %}
              <div class="label label-table label-success">Atendido</div>
            {% else %}
              <div class="label label-table label-danger">Espera</div>
            {% endif %}
          </td>
        </tr>
        
    {% endfor %}  
  </tbody>
</table>
<script>
  $(function(){
    $('#myTable').DataTable({
      "language": {
        "sProcessing":     "Procesando...",
        "sLengthMenu":     "Mostrar _MENU_ registros",
        "sZeroRecords":    "No se encontraron resultados",
        "sEmptyTable":     "Ningún dato disponible en esta tabla",
        "sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
        "sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
        "sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
        "sInfoPostFix":    "",
        "sSearch":         "Buscar:",
        "sUrl":            "",
        "sInfoThousands":  ",",
        "sLoadingRecords": "Cargando...",
        "oPaginate": {
          "sFirst":    "Primero",
          "sLast":     "Último",
          "sNext":     "Siguiente",
          "sPrevious": "Anterior"
        },
        "oAria": {
          "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
          "sSortDescending": ": Activar para ordenar la columna de manera descendente"
        }
      }
    });
  })
  function direccionar(el){
    var $thisId = $(el).attr('id');
    window.location.href = '/agenda/consulta/'+$thisId;
  }
</script>