{% load static %}
<div class="modal-header">
  <h4 class="modal-title">Registrar Medicamento</h4>
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
</div>
{% if form.errors %}
<div class="alert alert-danger">
    {{ form.non_field_errors }}
    <ul>
        {% for field in form %}
            {% if field.errors %}<li>{{ field.label }}: {{ field.errors|striptags }}</li>{% endif %}
        {% endfor %}
    </ul>
</div>
{% endif %}
<div class="modal-body">
  <form id="form-servicio" action="{% url "medicamento-ajax-registrar" %}" method="post" novalidate>
    {% csrf_token %}
    <div class="col-md-12">
      <small>Nombre</small>     
      {{ form.nombre }}
    </div>
    <div class="col-md-12">
      <small>Presentacion</small>         
      {{ form.presentacion }}
    </div>
    <div class="col-md-12">
      <small>Indicacion</small>     
      {{ form.indicacion }}
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Cerrar</button>
        <button type="submit" class="btn btn-danger waves-effect waves-light">Guardar</button>
    </div>
  </form>
</div>
<script>
  $('#form-servicio').on('submit',function (e) {
      e.preventDefault();
      var $formData = $(this).serialize();
      var $thisUrl = $(this).attr('action');
      var $thisMethod = $(this).attr('method');
      $.ajax({
          method: $thisMethod,
          url: $thisUrl,
          data: $formData,
          success: function(data){
            $('#myTable').DataTable().ajax.reload(null, false);
            $("#responsive-modal").modal('hide');
          },
          error: function(xhr,errmsg,err) {
            // Show an error
            $('#results').html("<div class='alert-box alert radius' data-alert>"+
            "Oops! We have encountered an error. <a href='#' class='close'>&times;</a></div>"); // add error to the dom
            console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
          }
      })
  });
</script>